{% extends "appbuilder/base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{_("LONG SON MDI")}}</h1>
    <h3>{{_("Main Document Index")}}</h3>
    <h1></h1>
  </div>
  
        <div class="row">
                <div class="col-3 text-center">
                        
                        <img src="static/img/Long_Son.jpg" alt="W3Schools.com">
                    </div>
            <div class="col-6">
                <br>
                <br>
                
            <h3>{{_("LONG SON petrochemical project")}}</h3>
            <p class="text-justify">{{_("TechnipFMC’s activities in Vietnam form an important part of our Asia Pacific region. Services we provide include project management, engineering, procurement and construction management for Subsea and Onshore/Offshore projects.

        In addition, we provide installation services for industrial machinery and equipment along with support activities for petroleum and natural gas mining.
        
        TechnipFMC has been active in the Vietnamese market since 1996. We are based in the country’s largest population center, Ho Chi Minh City, and established our Vietnam Operating Center in 2010.
        
        We provide a full range of world-class, customer-focused services right across the project life cycle, from early project pre-feasibility studies through to engineering procurement and construction (EPC) implementation. We also offer  integrated turnkey delivery of oil, gas and petrochemical facilities.
        
        The current TechnipFMC project portfolio in Vietnam includes involvement in nationally important infrastructure developments within the energy sector. Examples are the Dung Quat and Nghi Son grassroots refineries and the Phu My fertilizer plant.
        
        At present our biggest contract in the country is the Long Son petrochemical project in Baria-Vungtau province. The consortium which is led by TechnipFMC will perform the EPC work for the Package A olefins plant. This will help to fulfil the domestic demand for raw materials for the downstream chemical industry.
        
        TechnipFMC has an excellent reputation in Vietnam. Our experience and professionalism is highly valued by both clients and partners. They help us achieve our company vision of enhancing the performance of the world’s energy industry.")}}</p>
            </div>
            
        </div>
</div>




{% endblock %}